.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 90px;
    height: 20px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;
    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;
      font-family: var(--font-sora);
      text-transform: uppercase;
      font-weight: 500;
      font-size: 13px;
      line-height: 2rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--black-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}
